{% extends "orders/base.html" %}

{% block body %}
<h1>Hello, {{ user.first_name }}</h1>
<ul id="content">
    <li>Currently logged in as: {{ user.username }}</li>
    <li>
        <h2>Menu</h2>
        <ul id="menu">
            <li>
              <div class="row">
             <div class="col-lg-4 col-sm-12">
                 <a  href="{% url 'pizza' %}">Pizza</a>
             </div>
              </div>
            </li>
            <li>
              <div class="row">
              <div class="col-lg-4 col-sm-12">
                  <a  href="{% url 'subs' %}">Subs</a>
              </div>
              </div>
            </li>
            <li>
              <div class="row">
              <div class="col-lg-4 col-sm-12">
                  <a  href="{% url 'pasta_and_salad' %}">Pasta and salad</a>
              </div>
              </div>
            </li>
            <li>
              <div class="row">
              <div class="col-lg-4 col-sm-12">
                  <a  href="{% url 'dinner_platter' %}">Dinner Platter</a>
              </div>
              </div>
            </li>

        </ul>
    </li>
    <li><a href="{% url 'shoppingcart' %}">Shopping cart</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
</ul>
{% endblock %}
